{% assign titleWords = post.title | downcase | split: " " %}
{% assign lowercaseAuthors = post.authors | join: " " | downcase | split: " " %}
{% assign keywords = titleWords | concat: lowercaseAuthors | concat: post.tags %}
{% assign search = keywords | join: "|" | append: "|" | append: post.category %}
{% assign firstBar = "|" | append: search %}
{% assign lastBar = firstBar | append: "|" %}

<div class="card resource" search="{{ lastBar }}">
    <div class="card-content">
        <div class="content">
            <a href="{{ post.url }}" class="title is-4">{{ post.title }}</a>
            <span class="subtitle">by
                {{ post.authors | join: ", " }}</span>
            <p>
                {{ post.excerpt | strip_html | strip_newlines | truncatewords: 75 | replace: 'Abstract', '' }}
                <span><a href="{{ post.url }}">Read More</a></span>
            </p>
        </div>
    </div>
</div>