<nav class="navbar is-transparent is-hidden-tablet" id="mobile-navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/logo.png" style="filter: brightness(0) invert(1);">
            <div class="text is-hidden-mobile">
                <p>The Walt Whitman Journal of Psychology</p>
            </div>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/submit">Submit</a>
        <a class="navbar-item" href="/team">Team</a>
        <a class="navbar-item" href="/archive">Archive</a>
    </div>
</nav>
<div class="logo-and-text is-hidden-mobile">
    <img src="/assets/images/logo.png" style="filter: brightness(0) invert(1);">
    <div class="text">
        <p>The Walt Whitman</p>
        <p>Journal of Psychology</p>
    </div>
</div>
<nav class="navbar is-transparent is-hidden-mobile" id="desktop-navbar">
    <div class="navbar-menu">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/submit">Submit</a>
        <a class="navbar-item" href="/team">Team</a>
        <a class="navbar-item" href="/archive">Archive</a>
    </div>
</nav>