---
layout: default
---

<link rel="stylesheet" href="assets/css/index.css" />

<div id="welcome">
    <span id="logo">The Whitman Journal of Psychology</span>
    <nav class="navbar is-transparent" role="navigation">
        <div id="navbar" class="navbar-menu">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/submit">Submit</a>
            <a class="navbar-item" href="/subscribe">Subscribe</a>
            <a class="navbar-item" href="/team">Team</a>
            <a class="navbar-item" href="/archive">Archive</a>
        </div>
    </nav>
    <div id="issue-box">
        <a id="issue" href="assets/journals/09-june-2019.pdf">
            <img src="assets/images/archive/09-june-2019.jpg" alt="October 2018 Issue">
            <div id="ribbon">
                <span>Click Me to Read!</span>
            </div>
        </a>
    </div>
</div>
<div id="page">
    <h1 class="header header-pad-bottom">About Us</h1>
    <p>The Whitman Journal of Psychology is a non-profit, student-run publication. We collect submissions from high
        school students around the country and publish the most intriguing and well written submissions that we
        receive. We consider every submission and are always looking for new articles, so we encourage students to
        submit their work.</p>

    <h1 class="header header-pad-bottom">Posts</h1>
    <div class="tile is-ancestor">
        {% for post in site.posts %}
            {% if forloop.first == true %}
                <div class="tile is-parent is-8">
                    <div class="tile is-child box">
                        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            {% else %}
                <div class="tile is-parent is-4">
                    <div class="tile is-child box">
                        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>