<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" />
        <link rel="stylesheet" href="//afeld.github.io/emoji-css/emoji.css" />
        <link rel="stylesheet" href="/assets/css/fonts.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="stylesheet" href="style.css" />

        <script defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <div id="nav-area">
            <span id="logo">The Walt Whitman Journal of Psychology</span>
            <nav class="navbar is-transparent" role="navigation">
                <div id="navbar" class="navbar-menu">
                    <a class="navbar-item" href="/">Home</a>
                    <a class="navbar-item" href="/submit">Submit</a>
                    <a class="navbar-item" href="/team">Team</a>
                    <a class="navbar-item" href="/archive">Archive</a>
                </div>
            </nav>
        </div>
        <div class="page">
            {{ content }}
        </div>
    </body>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>Made with <i class="em em-heart"></i> by <a href="/team">The Whitman Journal of Psychology Team</a>.</p>
        </div>
    </footer>
</html>