* {
    font-family: "Source Sans Pro";
    color: black;
}

.header {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 2.2em;
}

.header-pad-bottom {
    padding-bottom: 1.5rem;
}

.crossbar {
    height: 1px;
    background-color: black;
    width: 100%;
}

i {
    margin: 5px;
}

.footer {
    font-size: 1.1em;
    background-color: #19191b;
    padding: 1rem;
}
.footer p {
    color: rgba(255,255,255,.6);
    margin-bottom: 0 !important;
}

#nav-area {
    background-color: #19191b;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.logo-and-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 10px;
}
.logo-and-text img {
    width: 100px;
}
.logo-and-text p {
    color: #fff;
    font-size: 1.5em;
    line-height: 1;
}

.navbar {
    background-color: transparent;
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.navbar a {
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    color: rgba(255,255,255,.6);
}
.navbar a:hover {
    color: #fff;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
    display: flex;
    align-items: stretch;
    min-height: 3.25em;
    background-color: transparent;
}

.page {
    padding: 5% 10%;
    font-family: "Source Sans Pro";
}

/* .hanging-indent {
    text-indent: -28px;
    padding-left: 28px;
} */