* {
    font-family: "Source Sans Pro";
    color: black;
}

.header {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 2.2em;
}

.header-pad-bottom {
    padding-bottom: 1.5rem;
}

i {
    margin: 5px;
}

.footer {
    font-size: 1.1em;
    background-color: #19191b;
    padding: 1rem;
}
.footer p {
    color: rgba(255,255,255,.6);
    margin-bottom: 0 !important;
}

.page {
    padding: 5% 10%;
    font-family: "Source Sans Pro";
}

.horizontal-center {
    display: flex;
    justify-content: center;
}