.header {
    font-size: 2.2em !important;
    padding-bottom: 0 !important;
}

#post-head {
    text-align: center;
    padding-bottom: 3rem;
}

#page p {
    padding-bottom: 1em;
}

#post-box h1 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.1em;
}