#article-main-image {
    max-width: 15em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.post-area p,
.title-area {
    padding-bottom: 1em;
}

.post-area h1 {
    font-weight: bold;
    font-size: 1.1em;
}