#page {
    padding: 5% 10%;
    font-family: "Source Sans Pro";
}
#page h1 {
    font-size: 1.6em;
}
#page > p {
    padding-bottom: 5%;
}

#issue-box {
    height: 600px;
}

#issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#issue:hover {
    opacity: 0.7;
    transition-duration: 0.2s;
}

#issue img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 50px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    min-height: 100%;
    min-width: 100%;
}

#ribbon {
    position: absolute;
    top: 5%;
    right: -8%;
    transform: rotate(45deg);
}
#ribbon::before {
    top: 0;
    left: 0;
}
#ribbon::after {
    bottom: 0;
    right: 0;
}
#ribbon::before,
#ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
#ribbon span {
    text-align: center;
    display: block;
    background-color: #2980b9;
    border: 5px solid #2980b9;
    width: 225px;
}

#page > .tile {
    flex-wrap: wrap;
}

a.title {
    font-size: 1.4em;
}

#page .title {
    text-decoration: underline;
}
#page .title:hover {
    color: #3e3e3e;
}