#central-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    padding-bottom: 10%;
}

#central {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 80%;
}

#central .header {
    font-size: 1.5em;
}

#paper {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
}

#buttons {
    margin-top: 2%;
    width: 100%;
}

@media only screen and (max-width: 770px) {
    #central {
        align-self: center;
        justify-self: center;
        width: 95%;
    }

    #paper {
        display: none;
    }
}