#article-main-image {
    max-width: 15em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.title-area {
    padding-bottom: 1em;
}

.post-area {
    line-height: 2;
}

.post-area h1 {
    font-weight: bold;
    font-size: 1.1em;
}

.post-area p {
    text-indent: 50px;
}

.post-area .no-indent {
    text-indent: 0 !important;
}

.post-area .has-hanging-indent {
    padding-left: 50px;
    text-indent: -50px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1em;
}