<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" />
        <link rel="stylesheet" href="//afeld.github.io/emoji-css/emoji.css" />
        <link rel="stylesheet" href="/assets/css/fonts.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />

        <script defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        {{ content }}
    </body>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>Made with <i class="em em-heart"></i> by <a href="/team">The Whitman Journal of Psychology Team</a>.</p>
          <p>&copy; 2019-present The Whitman Journal of Psychology</p>
        </div>
    </footer>
</html>