<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro" />
        <link rel="stylesheet" href="//afeld.github.io/emoji-css/emoji.css" />
        <link rel="stylesheet" href="assets/css/global.css" />
        <link rel="stylesheet" href="assets/css/navbar.css" />

        <script defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item header">The Whitman Journal of Psychology</a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expended="false" data-target="navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbar">
                <a class="navbar-item">ABOUT</a>
                <a class="navbar-item">TEAM</a>
            </div>
        </nav>
        {{ content }}
    </body>
</html>
