---
layout: default
title: "Home"
---

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div id="nav-area">
    {% include navbar.html %}
    <div class="featured-aricles is-hidden-mobile">
        <div class="fade-left"></div>
        <div class="fade-right"></div>
        <div class="arrow-area">
            <div class="left-arrow">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="featured-article"></div>
            <div class="right-arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="featured-articles-slider is-invisible">
            {% for post in site.categories.study limit: 10 %}
            <div>
                <div class="featured-article">
                    <div class="photo-title">
                        <div class="columns is-gapless">
                            <div class="column is-narrow">
                                <img src="/assets/posts/{{ post.title | downcase | replace: ' ', '-' }}/authors">
                            </div>
                            <div class="column">
                                <div class="title-by-box">
                                    <p class="title is-4">{{ post.title }}</p>
                                    <p class="subtitle">By {{ post.authors | join: ", " }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="excerpt is-size-5">
                        {{ post.excerpt | strip_html | strip_newlines | truncatewords: 75 | replace: 'Abstract', '' }}
                        <span><a href="{{ post.url }}">Read More</a></span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="chevron-down is-hidden-mobile">
        <p>View More</p>
        <i class="fas fa-angle-double-down"></i>
    </div>
</div>
<div class="page">
    <nav class="level is-mobile">
        <div class="level-left">
            <p id="sort-all" class="level-item is-active">
                <a class="sort-name">All</a>
            </p>
            <p id="sort-study" class="level-item">
                <a class="sort-name">Studies</a>
            </p>
            <p id="sort-podcast" class="level-item">
                <a class="sort-name">Podcasts</a>
            </p>
            <p id="sort-video" class="level-item">
                <a class="sort-name">Videos</a>
            </p>
            <div id="sort-psych-unit" class="level-item">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <a class="sort-name">
                            AP Psych Unit
                            <i aria-hidden="true" class="fas fa-angle-down"></i>
                        </a>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% for tag in site.tags %}
                            <a class="dropdown-item is-capitalized tag-selector">{{ tag[0] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p class="subtitle is-5">
                    <strong id="results-number">{{ site.posts.length }}</strong>
                    results
                </p>
            </div>
            <div class="level-item" id="search">
                <div class="field has-addons">
                    <p class="control has-icons-right">
                        <input class="input" placeholder="Find a resource" type="text">
                        <span class="icon is-small is-right is-hidden" id="clear-search">
                            <a class="button is-text">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </p>
                    <p class="control">
                        <button class="button">Search</button>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <div class="category" name="all">
        {% for post in site.posts %}
        {% include home-resource-card.html %}
        {% endfor %}
    </div>

    {% for category in site.categories %}
    {% assign name=category[0] %}
    <div class="category is-hidden" name="{{ name }}">
        {% for post in site.categories[name] %}
        {% include home-resource-card.html %}
        {% endfor %}
    </div>
    {% endfor %}

    {% for tag in site.tags %}
    {% assign name=tag[0] %}
    <div class="psych-unit is-hidden" name="{{ name }}">
        {% for post in site.tags[name] %}
        {% include home-resource-card.html %}
        {% endfor %}
    </div>
    {% endfor %}

    <div class="category is-hidden has-text-centered" name="none-found">
        <h1 class="title is-5">No search results</h1>
        <h1 class="subtitle is-6">Your search didn't match any resources. Try searching for something else.</h1>
    </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>